
/*BODY START*/

@font-face {
	font-family: "raleway-medium";
	src: url('static/.tff') format('truetype');
}

body{
	font-family: "raleway-medium", arial;
}

/*BODY END*/

/*NAV BAR START*/
.nav-bar, .navbar-default{
	margin-bottom: 0px;
	background-color: #2C3E50;
	border:none;
}

.navbar-nav li a, .navbar-brand {
	color: #ECF0F1 !important;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ECF0F1;
}

.navbar-nav .active a {
	background-color: #34495E !important;
}

/*NAV BAR END*/

/*CONTACT MODAL START*/

header #modal-btn{
	margin-top: 7px;
}

#submit-form .btn{
	margin-top: 20px;
}

/*CONTACT MODAL END*/

/*INTRO START*/

#intro-jumbo {
	background-color: #34495E;
	height: 50vh;
	color: #ECF0F1 !important;
	text-align: center;
  	vertical-align: bottom;
  	padding: 0px;
  	margin: 0px;
  	padding-top: 5vh;
}

#intro-jumbo img {
	display: inline-block;
	max-height:40vh;
	text-align: center;
}

#intro-container{
	text-align: center;
}

#intro-container h1 {
	padding-top: 15vh;
	margin-top: 0px;
	font-size: 10vh;

}

/*INTRO END*/


/*ABOUT START*/

.about-section{
	padding:0px !important;
}

#about-jumbo {
	height: 30vh;
	color: #607D8B !important;
	text-align: center;
  	vertical-align: bottom;
  	padding: 0px;
  	margin: 0px;
}


/*ABOUT END*/


/*RESUME START*/


/*RESUME END*/

